.gallery-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
  justify-items: center;
  background-color: #f6f6f6;
  padding: 4rem;
  margin: 4rem;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .gallery-row {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    background-color: transparent;
    margin: 1rem;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .gallery-row {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    background-color: transparent;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

.thumbnail-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: calc(100% - 20px); /* Utiliser une largeur maximale pour éviter que le texte ne dépasse du thumbnail */
}

.thumbnail h2 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.thumbnail h1 {
  display: none;
}