.collapses {
    margin: 0 4rem 3rem 4rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.collapse {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .collapse-header {
    display: flex;
    background-color: #ff6060;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .collapse-content {
    background-color: #F6F6F6;
    color: #ff6060;
    font-size: 18px;
    font-weight: 400;
    line-height: 142.6%; /* 25.668px */
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
  }

  .collapse-content ul {
    list-style: none;
  }

/* Collapse.css */
.chevron {
    font-size: 32px; /* Taille du chevron */
    transition: transform 0.3s ease; /* Animation de transition pour la rotation */
  }
  
  .rotate {
    transform: rotate(180deg); /* Rotation de 90 degrés */
  }