footer {
    display: grid;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 210px;
}

footer img {
    margin: auto;
}

footer p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    margin: 0;
}